.template{
  display:grid;
  height:100vh;
  grid-template-rows: auto 1fr;
  grid-gap:10px;
}

.wall{
  background-color: var(--clr-navy);
}
.path{
  background-color: var(--path-clr);
}
.unvisited{
  border:2px solid red;
  transition: 3s ease-in;
}
.visited{
  background-color: var(--visited-clr);
}
.source{
  background:url('C:\Users\Rohan Kumar Mahato\Desktop\project1\src\assets\icon\source.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.target{
  background:url('C:\Users\Rohan Kumar Mahato\Desktop\project1\src\assets\icon\target.svg');
  background-repeat: no-repeat;
  background-size: contain;
}